@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  background: #09090b;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

.bolt {
  font-family: bolt, Avenir, Helvetica, Arial, sans-serif;
}

::selection {
  background: #f0b100;
  color: #09090b;
}